# Visual Studio files

*.ipch
*.sdf
*.opensdf
*.lastbuildstate
*.log
*.tlog
*.idb
*.pdb
*.suo

# Xcode files
*.xcuserstate
*.xcworkspace
*.xcuserdatad

# Binaries

*.o
*.a

# Directories

lib/
bin/
Debug/
Release/
