# Visual Studio files

*.ipch
*.sdf
*.opensdf
*.lastbuildstate
*.log
*.tlog
*.idb
*.pdb
*.suo

# Xcode/OSX files

*.xcuserstate
*.xcworkspace
*.xcuserdatad
*.DS_Store

# Binaries

*.o
*.a

# Directories

lib/
bin/
Debug/
Release/
