# Visual Studio files

*.ipch
*.sdf
*.opensdf
*.lastbuildstate
*.log
*.tlog
*.idb
*.pdb
*.suo

# Xcode files
*.pbxproj
*.xcuserstate
*.xcodeproj
*.xcworkspace
*.xcuserdatad

# Binaries

*.obj
*.lib
*.o
*.a

# Directories

build/
obj/
bin/
